In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("new weather data.csv")

In [3]:
df

,Day,Max Temperature,Min Temperature,Windspeed,Humidity,Event
0,Monday,18,10,10,83,Rain
1,Tuesday,19,13,14,81,Thunderstorm
2,Wednesday,20,12,8,69,Rain
3,Thursday,20,8,14,57,Sunny
4,Friday,21,7,18,61,Fog
5,Saturday,16,11,11,61,Fog
6,Sunday,21,12,24,64,Rain

In [4]:
columns = df.columns.to_list()

In [5]:
columns

['Day', 'Max Temperature', 'Min Temperature', 'Windspeed', 'Humidity', 'Event']

In [6]:
df.dtypes

Day                object
Max Temperature     int64
Min Temperature     int64
Windspeed           int64
Humidity            int64
Event              object
dtype: object

In [7]:
dtypes = df.dtypes.to_dict()

In [8]:
dtypes

{'Day': dtype('O'),
 'Max Temperature': dtype('int64'),
 'Min Temperature': dtype('int64'),
 'Windspeed': dtype('int64'),
 'Humidity': dtype('int64'),
 'Event': dtype('O')}

In [10]:
for keys in dtypes:
    if dtypes[keys] == object:
        columns.remove(keys)

In [11]:
columns

['Max Temperature', 'Min Temperature', 'Windspeed', 'Humidity']

In [21]:
def Describe(df):
    columns = df.columns.to_list()
    dtypes = df.dtypes.to_dict()
    # removing columns of type = 'string'
    for keys in dtypes:
        if dtypes[keys] == object:
            columns.remove(keys)
    # empty dictionary
    dicti = {}
    dicti['stats'] = 'mean'
    for col in columns:
        S = 0
        lst = df[col].to_list()
        n = len(df)
        for i in range(len(df)):
            S = S + lst[i]
        mean = S/n
        dicti[col] = mean
    describe = pd.DataFrame(dicti, index=(1,1))
    return describe

In [22]:
Describe(df)

  stats  Max Temperature  Min Temperature  Windspeed  Humidity
1  mean        19.285714        10.428571  14.142857      68.0
1  mean        19.285714        10.428571  14.142857      68.0

In [23]:
df.describe()

       Max Temperature  Min Temperature  Windspeed   Humidity
count         7.000000         7.000000   7.000000   7.000000
mean         19.285714        10.428571  14.142857  68.000000
std           1.799471         2.225395   5.429198  10.246951
min          16.000000         7.000000   8.000000  57.000000
25%          18.500000         9.000000  10.500000  61.000000
50%          20.000000        11.000000  14.000000  64.000000
75%          20.500000        12.000000  16.000000  75.000000
max          21.000000        13.000000  24.000000  83.000000