# 1 Feb 23

In [1]:
import pandas as pd

#  Series

In [2]:
# creating a series
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
my_series = pd.Series(days)
print(my_series)

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
dtype: object

In [3]:
# creating a series
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
my_series = pd.Series(days, index=range(1,8))
print(my_series)

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
dtype: object

In [4]:
# creating series using dictionary
dict = {"1":"Monday", "2":"Tuesday", "3":"Wednesday", "4":"Thursday", "5": "Friday", "6":"Saturday", "7":"Sunday"}
ser = pd.Series(dict)
ser

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
dtype: object

# Dataframe

In [5]:
# creating a dataframe
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
my_df = pd.DataFrame(days)
my_df

           0
0     Monday
1    Tuesday
2  Wednesday
3   Thursday
4     Friday
5   Saturday
6     Sunday

In [6]:
# creating a dataframe using a dictionary
max_temp = [18,19,20,20,21,16,21]
min_temp = [10,13,12, 8, 7,11,12]
event = ['Rain', 'Thunderstorm', 'Rain', 'Sunny', 'Fog', 'Fog', 'Rain']
windspeed = [10,14,8,14,18,11,24]
weather = {'Day': days, 'Max Temperature': max_temp, 'Min Temperature': min_temp, 'Windspeed': windspeed, 'Event': event}
df = pd.DataFrame(weather,index=range(1,8))

In [7]:
df

         Day  Max Temperature  Min Temperature  Windspeed         Event
1     Monday               18               10         10          Rain
2    Tuesday               19               13         14  Thunderstorm
3  Wednesday               20               12          8          Rain
4   Thursday               20                8         14         Sunny
5     Friday               21                7         18           Fog
6   Saturday               16               11         11           Fog
7     Sunday               21               12         24          Rain

In [8]:
type(df)

pandas.core.frame.DataFrame

## Exporting Dataframe to a csv file

In [9]:
df.to_csv('weather_data.csv')

## Importing from a csv file

In [10]:
new_df = pd.read_csv('new weather data.csv')

In [11]:
new_df

,Day,Max Temperature,Min Temperature,Windspeed,Humidity,Event
0,Monday,18,10,10,83,Rain
1,Tuesday,19,13,14,81,Thunderstorm
2,Wednesday,20,12,8,69,Rain
3,Thursday,20,8,14,57,Sunny
4,Friday,21,7,18,61,Fog
5,Saturday,16,11,11,61,Fog
6,Sunday,21,12,24,64,Rain

In [12]:
new_df.shape

(7, 6)

In [13]:
a, b = new_df.shape
print(f"No of rows = {a}\nNo of rows = {b}")

No of rows = 7
No of rows = 6

### Rows

In [14]:
new_df.head()

,Day,Max Temperature,Min Temperature,Windspeed,Humidity,Event
0,Monday,18,10,10,83,Rain
1,Tuesday,19,13,14,81,Thunderstorm
2,Wednesday,20,12,8,69,Rain
3,Thursday,20,8,14,57,Sunny
4,Friday,21,7,18,61,Fog

In [15]:
new_df.head(3)

,Day,Max Temperature,Min Temperature,Windspeed,Humidity,Event
0,Monday,18,10,10,83,Rain
1,Tuesday,19,13,14,81,Thunderstorm
2,Wednesday,20,12,8,69,Rain

In [16]:
new_df.tail()

         Day  Max Temperature  Min Temperature  Windspeed  Humidity  Event
2  Wednesday               20               12          8        69   Rain
3   Thursday               20                8         14        57  Sunny
4     Friday               21                7         18        61    Fog
5   Saturday               16               11         11        61    Fog
6     Sunday               21               12         24        64   Rain

In [17]:
new_df.tail(3)

        Day  Max Temperature  Min Temperature  Windspeed  Humidity Event
4    Friday               21                7         18        61   Fog
5  Saturday               16               11         11        61   Fog
6    Sunday               21               12         24        64  Rain

### Columns

In [18]:
new_df.columns

Index(['Day', 'Max Temperature', 'Min Temperature', 'Windspeed', 'Humidity',
       'Event'],
      dtype='object')

In [19]:
new_df.Humidity

0    83
1    81
2    69
3    57
4    61
5    61
6    64
Name: Humidity, dtype: int64

In [20]:
type(new_df['Humidity'])

pandas.core.series.Series

# 2 Feb 23

In [21]:
new_df[['Humidity','Windspeed']]

   Humidity  Windspeed
0        83         10
1        81         14
2        69          8
3        57         14
4        61         18
5        61         11
6        64         24

In [22]:
new_df.max()

Day                   Wednesday
Max Temperature              21
Min Temperature              13
Windspeed                    24
Humidity                     83
Event              Thunderstorm
dtype: object

## Operations on DataFrame

In [23]:
new_df['Humidity']

0    83
1    81
2    69
3    57
4    61
5    61
6    64
Name: Humidity, dtype: int64

In [24]:
new_df['Humidity'].max()

83

In [25]:
new_df[new_df['Humidity']>70]

,Day,Max Temperature,Min Temperature,Windspeed,Humidity,Event
0,Monday,18,10,10,83,Rain
1,Tuesday,19,13,14,81,Thunderstorm

In [26]:
new_df.set_index('Day')

           Max Temperature  Min Temperature  Windspeed  Humidity         Event
Day
Monday                  18               10         10        83          Rain
Tuesday                 19               13         14        81  Thunderstorm
Wednesday               20               12          8        69          Rain
Thursday                20                8         14        57         Sunny
Friday                  21                7         18        61           Fog
Saturday                16               11         11        61           Fog
Sunday                  21               12         24        64          Rain

In [27]:
new_df.describe()

       Max Temperature  Min Temperature  Windspeed   Humidity
count         7.000000         7.000000   7.000000   7.000000
mean         19.285714        10.428571  14.142857  68.000000
std           1.799471         2.225395   5.429198  10.246951
min          16.000000         7.000000   8.000000  57.000000
25%          18.500000         9.000000  10.500000  61.000000
50%          20.000000        11.000000  14.000000  64.000000
75%          20.500000        12.000000  16.000000  75.000000
max          21.000000        13.000000  24.000000  83.000000

## Task
1) Func Describe(count, mean, min, max)

In [28]:
# Task 2
def Describe(df):
    return df.describe()

In [29]:
Describe(new_df)

       Max Temperature  Min Temperature  Windspeed   Humidity
count         7.000000         7.000000   7.000000   7.000000
mean         19.285714        10.428571  14.142857  68.000000
std           1.799471         2.225395   5.429198  10.246951
min          16.000000         7.000000   8.000000  57.000000
25%          18.500000         9.000000  10.500000  61.000000
50%          20.000000        11.000000  14.000000  64.000000
75%          20.500000        12.000000  16.000000  75.000000
max          21.000000        13.000000  24.000000  83.000000

In [30]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Day              7 non-null      object
 1   Max Temperature  7 non-null      int64
 2   Min Temperature  7 non-null      int64
 3   Windspeed        7 non-null      int64
 4   Humidity         7 non-null      int64
 5   Event            7 non-null      object
dtypes: int64(4), object(2)
memory usage: 464.0+ bytes

In [31]:
new_df.corr(numeric_only = True)

                 Max Temperature  Min Temperature  Windspeed  Humidity
Max Temperature         1.000000        -0.243771   0.592211 -0.235008
Min Temperature        -0.243771         1.000000  -0.102473  0.504308
Windspeed               0.592211        -0.102473   1.000000 -0.338530
Humidity               -0.235008         0.504308  -0.338530  1.000000

In [32]:
type(new_df['Humidity'])

pandas.core.series.Series

In [33]:
import numpy as np

In [34]:
new_df['Humidity'].to_numpy()

array([83, 81, 69, 57, 61, 61, 64], dtype=int64)

# 3 Feb 23